<!DOCTYPE html>
<html>
<head>

</head>
<body>
<form action="/manageBooking" method="POST">
    <fieldset>
        <label>Booking Form </label> <br/>
        User: <input type="text" name='username' value='<%=profile.displayName%>' disabled> <br/>
        Email: <input type="text" name='useremail' value="<%=profile.emails[0].value%>" disabled> <br/>
		Room Number: <select name="roomnumber">

		  <%for (var i= 0; i < rooms.length; i++) { %>  
            <% if (bookedRoom == undefined) {%>
                <option id="select<%=i %>"> <%=rooms[i].RoomNumber%> </option>
            <% }  else {%>
                <% if (rooms[i].RoomNumber == bookedRoom) {%>
		  	       <option id="select<%=i %>" selected> <%=rooms[i].RoomNumber%> </option>
                <% } else { %>
                <option id="selected<%=i %>" hidden> <%=rooms[i].RoomNumber%> </option>
                <% } %>
            <% } %>
		  <%} %>
        </select> <br/>
        Time Slot: <select name='timeslot'> 
        <option><%=timeslotstart%> - <%=timeslotend%></option>
		</select> <br/>

<!--         <script type='text/javasript'>
             var index = window.location.search.indexOf("=");
             if(index < 0) {
                ;
             } else {
                var str = window.location.search.split("=")[1];
                document.getElementById("select").value = str;
                document.getElementById("select").innerHTML = index;
             }     
        </script> -->
       
        Reason: <input type="text" name="reason"/><br/>
        <input type="submit" value="submit"/>
    </fieldset>
</form>
</body>
</html>