<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
    {profile:req.user, groupID:grpid, roomnumber:roomnumber, date: weekstr, timeslot:timeslot}
        <form action="/manageCancel" method="POST">
            <fieldset>
                <label>Cancel Booking Form </label> <br/>
                User: <input type="text" name='username' value='<%=profile.displayName%>' disabled> <br/>
                Group ID: <input type="text" name='groupID' value="<%=groupID%>" disabled> <br/>
                Room Number: <input type="text" name='roomnumber' value="<%=roomnumber%>" disabled> <br/>
                Date: <input type="text" name='date' value="<%=date%>" disabled> <br/>
                Time Slot: <input type="text" name='timeslot' value="<%=timeslot%>" disabled> <br/>      
                Reason: <input type="text" name="reason"/><br/>
                <input type="submit" value="submit"/>
            </fieldset>
        </form>
    </body>
</html>