<!DOCTYPE html>
<html>
  <head>

    <title>Hello, </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>



  <body>
    <h2>Welcome to Booking Info page, </h2>
    <h6 id="displayName" > <%=profile.displayName %> </h6>
    <% for(var i=0;i < table.length; i++) {%>
    <br/>   <br/>
    <div>
    <input type="text" id="<%= i %>" value='<%=table[i].RoomNumber%>'  disabled>
     <p>Status: </p>
     <% if(table[i].Status != 0) { %>
        <p id="Status<%= i %>" style="color:red"> Unavailable for booking</p>
     <% } else { %>
        <p id="Status<%= i %>" style="color:green"> Available for booking</p>
     <% } %>
     <p>Time:</p>
     <p id="TimeModified<%= i %>"> <%= table[i].TimeModified %> </p>

     <% if(table[i].Status==0){ %>
     <button onclick="location.href='/booking?room=<%= table[i].RoomNumber %>'">Book</button>
     <% } %> 



     <!-- the following is the version with book button under booked room but gives alert when trying to book -->
    <!-- <button id="button<%= i %>" onclick="statuss(<%= i %>)" >book</button>
    <script>
      function tz(c) {
        var roomnumber = document.getElementById(c).value;
        // window.location.href = '/booking?username=' + username + '&room='roomnumber;
        window.location.href ='/booking?room=' + roomnumber;
      }
    </script>

    <script>
      function click() {
        alert("This room has been booked!");
      }

      function statuss(c) {
        var stat = document.getElementById("Status" + c).innerHTML;
        if(stat != 0) {
          document.getElementById("button" + c).onclick = click();
        } else {
          document.getElementById("button" + c).onclick = tz(c);
        }
      }
    </script> -->

    </div>
    <% } %>



    <br/> <br/>

    <% if (profile.displayName == "guest") { %>
    <% include login.ejs %>
    <% } else{%>
    <% ; %>
    <% } %>


  </body>
</html>
 