<!DOCTYPE html>
<html>
  <head>

    <title>Hello, <%= profile.displayName %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>

  <body>
    <h2>Welcome to Booking Info page, </h2>
    <h3 id="displayName" > <%=profile.displayName %> </h3>
    <div>
      <button onclick="cb()">View My Booking Info</button>
      <script>
        function cb(){
            window.location.href='/viewBooking';
        }
      </script>
    </div>
    <div>
      <button onclick="b()">Logout</button>
      <script>
        function b(){
            window.location.href='/logout';
        }
      </script>
    </div>

    <div>
    <% if (profile.displayName == "Guest") { %>
    <% include login.ejs %>
    <% } else{%>
    <% ; %>
    <% } %>
    </div>
    <br/> <br/>
{profile:req.user, table:result, userBooking:true, userGroup:grpname, bookedTimeslot:resultt}
 <table>
  <tr>
    <th>Room Number</th>
    <th>8-10</th> 
    <th>10-12</th>
    <th>12-14</th>
    <th>14-16</th>
    <th>16-18</th>
    <th>18-20</th>
    <th>20-22</th>
  </tr>
  <% for (var u=0; u<table.length; u++) { %>
    <tr>
      <td> <%= table[u].ROOMNUMBER %></td>
      <% if(userBooking == true) { %>
        <% for(var i=0;i<7; i++) { %>
          <% if(bookedTimeslot.includes(table[u].ROOMNUMBER.concat("~", i*2+8, ":00:00"))) { %>
            <td><button onclick="location.href='/booking?room=<%= table[i].ROOMNUMBER %>&timeslotstart=<%= i*2+8 %>'" hidden disabled> BOOK
            </button></td>
          <% } else { %>
            <td><button onclick="location.href='/booking?room=<%= table[i].ROOMNUMBER %>&timeslotstart=<%= i*2+8 %>'" disabled> BOOK
            </button></td>
          <% } %>
        <% } %>
      <% } else { %>
        <% for(var i=0;i<7; i++) { %>
          <% if(bookedTimeslot.includes(table[u].ROOMNUMBER.concat("~", i*2+8, ":00:00"))) { %>
            <td><button onclick="location.href='/booking?room=<%= table[i].ROOMNUMBER %>&timeslotstart=<%= i*2+8 %>'" hidden> BOOK
            </button></td>
          <% } else { %>
            <td><button onclick="location.href='/booking?room=<%= table[i].ROOMNUMBER %>&timeslotstart=<%= i*2+8 %>'"> BOOK
            </button></td>
          <% } %>
        <% } %>
      <% } %>
      
    </tr>
  <% } %>
  
</table>






    


  </body>
</html>
 