<!DOCTYPE html>
<html>
  <head>

    <title>Hello, <%= profile.displayName %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>

<!-- //send email to 4 others :{profile:req.user, 
            									   				   	notified:true, 
            									   				   	mailList:[member2email, member3email, member4email]
            									   				   }
<br/><br/>

//send email to 5th others :{profile:req.user, 
            									   					notified:true,
            									   					mailList:[member2email, member3email, member4email, member5email]
            									   					}
<br/><br/>
//group is full or the id is alr registered: {profile:req.user,
            													   groupID:gid,
            													   contactID: leaderid,
            													   contactName: leadername,
            													   contactEmail: leaderemail}
<br/><br/>

//register success: {profile:req.user, groupID:gid, groupExist:true, added:true}
<br/><br/>

//group doesnt exist(maybe dismissed): {profile:req.user, groupID:gid, groupExist:false, added:false}
<br/><br/>

//token check fail: {profile:req.user, groupID:gid, tokenFailure:true}
<br/><br/> -->

<% if (notified == true) { %>
	<!-- page for start a group -->
	<p>Your invitation letters have already been sent to: </p>
	<p><%=mailList[0]%></p>
	<p><%=mailList[1]%></p>
	<p><%=mailList[2]%></p>
	<% if (mailList[3] != undefined) { %>
		<p><%=mailList[3]%></p>
	<% } %>
	<p>Please remember to remind your friends and ask them to join your group via /joinAGroup page after they log in.</p>
	<p>And please remember to check on your groupings often. Maybe you want to invite others to join your group if they decline. But please do make thoughtful decisions:)</p>
	<div>
	  <button onclick="cb()">View My Booking Info</button>
	  <script>
	    function cb(){
	        window.location.href='/viewBooking';
	    }
	  </script>
	</div>
	<div>
	  <button onclick="b()">Logout</button>
	  <script>
	    function b(){
	        window.location.href='/logout';
	    }
	  </script>
	</div>

<% } else { %>
	<!-- page for join a group -->
	<% if (contactID != undefined) { %>
	 <!-- joining fails -->
		<p>This group is either full or you are already registered with another group</p>
		<p>Please contact the group member of <%=groupID%>:</p>
		<p>Name: <%=contactName%> </p>
		<p>NUSNETSID: <%=contactID%> </p>
		<p>Email Address: <%=contactEmail%> </p>
		<div>
	      <button onclick="cb()">View My Booking Info</button>
	      <script>
	        function cb(){
	            window.location.href='/viewBooking';
	        }
	      </script>
	    </div>
	    <div>
	      <button onclick="b()">Logout</button>
	      <script>
	        function b(){
	            window.location.href='/logout';
	        }
	      </script>
	    </div>
	<% } else { %>
	 	<% if (added == true) { %>
	 		<p>Congratz you have joined group <%=groupID%><p>
	 		<div>
		      <button onclick="cb()">View My Booking Info</button>
		      <script>
		        function cb(){
		            window.location.href='/viewBooking';
		        }
		      </script>
		    </div>
		    <div>
		      <button onclick="b()">Logout</button>
		      <script>
		        function b(){
		            window.location.href='/logout';
		        }
		      </script>
		    </div>
	 	<% } else if (added == false) { %>
	 		<p>Sorry, group <%=groupID%> might not exist. Please check with your friend.<p>
	 		<div>
		      <button onclick="cb()">View My Booking Info</button>
		      <script>
		        function cb(){
		            window.location.href='/viewBooking';
		        }
		      </script>
		    </div>
		    <div>
		      <button onclick="b()">Logout</button>
		      <script>
		        function b(){
		            window.location.href='/logout';
		        }
		      </script>
		    </div>
	 	<% } else if (tokenFailure == true) { %>
	 		<p>Sorry, your authentication for joining group <%=groupID%> fails. Please check your email again or contact admin.<p>
	 		<div>
		      <button onclick="cb()">View My Booking Info</button>
		      <script>
		        function cb(){
		            window.location.href='/viewBooking';
		        }
		      </script>
		    </div>
		    <div>
		      <button onclick="b()">Logout</button>
		      <script>
		        function b(){
		            window.location.href='/logout';
		        }
		      </script>
		    </div>
	 	<% } %>
	<% } %>
<% } %>
         									   					

  </body>
</html>