<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Hello, <%= profile.displayName %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="/stylesheets/theme1/bootstrap.css" media="screen">
	<link rel="stylesheet" href="/stylesheets/theme1/custom.min.css">
</head>
<body>
	<style>  
		.col-center-block {  
			float: none;  
			display: block;  
			margin-left: auto;  
			margin-right: auto;  
		}  
	</style>  
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">RVRC BOOKING</a>
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div id="navbar-main" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a>Hi, <%= profile.displayName %></a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="page-header">
				<% if(mailList != undefined) { %>
				<p>Your invitation letters have already been sent to: </p>
				<p><%=mailList[0]%></p>
				<p><%=mailList[1]%></p>
				<p><%=mailList[2]%></p>
				<% if (mailList[3] != undefined) { %>
				<p><%=mailList[3]%></p>
				<% } %>
				<p>Please remember to remind your friends and ask them to join your group via /joinAGroup page after they log in.</p>
				<p>And please remember to check on your groupings often. Maybe you want to invite others to join your group if they decline. But please do make thoughtful decisions:)</p>
				<% } else { %>
				<% if (success == null) { %>
				render leader contact
				<p>It is either...the group is full...or...your id is already registered somewhere else...</p>
				<p>Details:</p>
				<p>GROUP ID: <%= groupID %></p>
				<p>Name of The Person You Can Contact: <%= contactName %></p>
				<p>His/Her Email: <%= contactEmail %></p>
				<% } else if (success == false) { %>
				render failure
				<p>Failure To Join the Group <%= groupID %>, as the group does not exist (probably dismissed)</p>
				<% } else if (success == true) { %>
				render success
				<p>You have successfully joined group <%= groupID %>! </p>
				<% } %>
				<% } %>
			</div>
		</div>	
	</div>
	<div class="row">
		<div class="col-lg-7">
			<p>
				<a class="btn btn-warning" href="/logout">Logout</a>
			</p>
			<p>
				<a class="btn btn-info" href="/viewBooking">View My Booking Info</a>
			</p>			
		</div>
	</div>
	<% include footer.ejs %>
</div>
<script src="/stylesheets/theme1/jquery-1.10.2.min.js"></script>
<script src="/stylesheets/theme1/bootstrap.min.js"></script>
<script src="/stylesheets/theme1/custom.js"></script>
</body>
</html>