<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Hello, <%= profile.displayName %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="/stylesheets/theme1/bootstrap.css" media="screen">
	<link rel="stylesheet" href="/stylesheets/theme1/custom.min.css">
</head>
<body>

	<style>  
		.col-center-block {  
			float: none;  
			display: block;  
			margin-left: auto;  
			margin-right: auto;  
		}  
	</style>  
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">RVRC BOOKING</a>
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div id="navbar-main" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a>Hi, <%= profile.displayName %></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="page-header">
				<h1>Your Group ID: <%= groupID %></h1>
				<h1>Welcome to View Booking page, <%= profile.displayName %></h1>
			</div>
		</div>	
		<div class="row">
			<div class="col-lg-7">
				<p>
					<a class="btn btn-warning" href="/logout">Logout</a>
				</p>
				<% for (var d=0; d < 5; d++) { %>
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">DATE:<%=schedule[d][0]%></h3>	
					</div>
					<div class="panel-body">
						<% if (schedule[d].length == 1) { %>
						<p>No booking slot</p>
						<% } else { %>
						<% for (var i=1; i < schedule[d].length; i++) { %>
						<p>GROUP ID: <%=schedule[d][i].GROUPID%></p>
						<p>ROOMNUMBER: <%=schedule[d][i].ROOMNUMBER%></p>
						<p>TIMESLOT STARTS AT: <%=schedule[d][i].SLOTSTART%></p>
						<p>TIMESLOT ENDS AT: <%=schedule[d][i].SLOTEND%></p>
						<p>DECISION TIME: <%=schedule[d][i].DECISIONTIME%></p>
						<p>
							<a class="btn btn-primary" href="/cancelBooking?room=<%=schedule[d][i].ROOMNUMBER%>&timeslotstart=<%=schedule[d][i].SLOTSTART%>&date=<%=schedule[d][0]%>">Cancel Booking</a>
						</p>
						<% } %>
						<% } %>
					</div>

				</div>
				<% } %>
			</div>
		</div>
		<p>
		<a class="btn btn-info" href="/info">View General Info</a>
		</p>
		<% include footer.ejs %>
	</div>
	<script src="/stylesheets/theme1/jquery-1.10.2.min.js"></script>
	<script src="/stylesheets/theme1/bootstrap.min.js"></script>
	<script src="/stylesheets/theme1/custom.js"></script>
</body>
</html>