<!DOCTYPE html>
<html>
  <head>
    <title>Hello,<%= profile.displayName %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div>
    <button onclick="cb()">cancel booking</button>
    <script>
      function cb(){
          window.location.href='/cancelBookingConfirm';
      }
    </script>
  </div>

  <div>

    <h1><%= profile.displayName %></h1>
    <p>Welcome to viewBooking page, <%= profile.displayName %></p>
    <% for(var i=0;i < table.length; i++) {%>
    <p>Room:<%= table[i].RoomNumber %></p>
    Status: 
     <% if(table[i].Status != 0) { %>
        <p id="Status<%= i %>" style="color:red"> You've booked this room</p>
     <% } else { %>
        <p id="Status<%= i %>" style="color:green"> Available for booking</p>
     <% } %>
    Time: <p><%= table[i].TimeModified %></p>
    	<br>
    <% } %>
    <button onclick="b()">book</button>
    <script>
        function b(){
          window.location.href='/booking';
        }

    </script>

    </div>

    <div>

    <button onclick="tz()">logout</button>
    <script>
    function tz(){
        window.location.href='/logout';

    }
    </script>

    <button onclick="z()">view general info</button>
    <script>
    function z(){
        window.location.href='/info';

    }
    </script>

    </div>

  </body>
</html>